*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    list-style: none;

    &__item{
        position: relative;
        &:hover{
            .menulvl1{
                display: block;
            }
        }
    }

    &__link{
        display: inline-block;
        padding: 16px;
        text-decoration: none;
        color: white;
        background-color: #b31e1a;
        width: 100px;
        text-align: center;

        &:hover{
            background-color: #b31f1a6b;
        }
    }
}

.menulvl1{
    list-style: none;
    position: absolute;
    display: none;
    left: 0px;
    top: 50px;

    &__item{
        position: relative;

        &:hover{
            .menulvl2{
                display: block;
            }
        }
    }

    &__link{
        display: inline-block;
        padding: 16px;
        background-color: #e64525;
        color: white;
        text-decoration: none;
        width: 100px;
        text-align: center;

        &:hover{
            background-color: #e6452559;
        }
    }
}

.menulvl2{
    list-style: none;
    position: absolute;
    display: none;
    top: 0;
    left: 100px;

    &__link{
        display: inline-block;
        padding: 16px;
        background-color: #f9f3ec;
        color: white;
        text-decoration: none;
        width: 100px;
        text-align: center;
        color: rgb(36, 36, 36);

        &:hover{
            background-color: #f9f3ec1f;
        }
    }

    &__item{
        position: relative;

        &:hover{
            .menulvl3{
                display: block;
            }
        }
    }
}

.menulvl3{
    list-style: none;
    position: absolute;
    display: none;
    top: 0;
    left: 100px;

    &__link{
        display: inline-block;
        padding: 16px;
        background-color: #0e2a55;
        color: white;
        text-decoration: none;
        width: 120px;
        text-align: center;

        &:hover{
            background-color: #0e2a5531;
        }
    }
}